<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConfirmFinalOrderActivity"></activity>
        <activity android:name=".CartActivity" />
        <activity android:name=".ShopNowActivity" />
        <activity android:name=".ShopsAdminViewList" />
        <activity android:name=".ShopsHomeUser" />
        <activity android:name=".ItemDetailsActivity" />
        <activity android:name=".AddNew" />
        <activity android:name=".AddItems_2nd_Shops" />
        <activity android:name=".PlaceListAdmin" />
        <activity android:name=".HotelViewDetails" />
        <activity android:name=".HotelUserActivity" />
        <activity android:name=".AddHotelActivity" />
        <activity android:name=".AdminHotelHome" />
        <activity android:name=".MaintainGuidesActivity" />
        <activity android:name=".GuideHome" />
        <activity android:name=".EditGuideDetailsActivity" />
        <activity android:name=".AdminAddNewGuidesActivity" />
        <activity android:name=".AdminGuideCategoryActivity" />
        <activity android:name=".PlaceDetailsActivity" />
        <activity android:name=".PlacesHomeUser" />
        <activity android:name=".AddPlacesActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".PlacesHome" />
        <activity android:name=".AdminHome" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>